/*
 * Customization Variables
 */

//$accent: #65727A;
//$accent: #1698CA;
$accent: #1367BD; 
$image-size: 200px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
